:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.auth-page {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 92vh;
}

a {
  text-decoration: none;
  color: grey;
}

.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.todo-container {
  display: flex;
}

input {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid white;
  padding: 5px;
  font-size: 1rem;
}

button {
  width: 100px;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}